*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    text-align:center;
    padding: 16px 200px 14px  200px
}
h2{
    font-size: 26px;
    font-family: Arial; 
    font-weight: bold;
    text-align:center ;
    padding: 14px 200px 10px  200px;
}

h3{
    font-size: 20px;
    font-family: Arial; 
    font-weight: bold;
    text-align:left ;
    padding: 16px 260px 12px  260px;
}

h4{
    font-size: 14px;
    font-family: Arial; 
    font-weight: bold;
    padding: 0px 100px 0px  100px;
    text-align:center ;

}



body{
    text-align: justify;
    margin-bottom: 1.6px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.agrupar{
    width: 960px;   
    margin: 15px auto;
    border: 1px solid #d63031;
}

.cabecera{
    background-color: #f7f321;
    border: 1px solid #3dd429;
    padding: 20px;  
}
.cabecera h1{
    text-align: left;
}

.menu{
    background-color: #73eee4;
    padding: 15px; 
    text-align: left;
}
.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px arial;
    display: inline-block;
}
.seccion
{
    padding: 0px 100px 0px  100px;
    text-align:justify ;

}
.titulos2{
    
    padding: 0px 100px 0px  100px;
    text-align:justify;

}
.titulos2 a{
   
    padding: 0px 50px 0px  50px;
    display: list-item;
    margin-bottom: 6.0px
}
time
{
   
    color: #d63031;

}

.pie{
    clear: both;
    padding: 20px;
    background-color: #ff7675;
    text-align:justify;
}

.titulos1{
    text-align:justify;
    padding: 0px 100px 0px  100px;

}
p {

    padding: 0 260px 0 260px;
}

img{
    width: 180px;
    height: 180px;
    display: block;
    margin:20px auto;
    
}